.place-search {
  display: flex;
}

.place-search input {
  box-sizing: border-box;
  flex-basis: 100%;
  border-radius: 4px 0 0 4px;
  background: #f0f1f7;
}

.place-search input::placeholder {
  color: rgba(0,0,0,.3);
}

.place-search button {

  background: #7915dd;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
}