#map {
  height: 100vh;
  flex-basis: 100%;

  @media screen and (max-width: 500px) {
    flex-basis: 100%;
    min-width: 100vw;
    width: 100vw;
  }

}

.layers-controls {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.map_light {
  background: #fbf8f3;
}

.map_dark {
  background: #0e0e0e;
}

.place-marker {
  background: blue;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  border: 2px solid #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.leaflet-tile-container img {
  pointer-events: none;
}




@-webkit-keyframes leaflet-gestures-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes leaflet-gestures-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.leaflet-container:after {
  -webkit-animation: leaflet-gestures-fadein 0.8s backwards;
          animation: leaflet-gestures-fadein 0.8s backwards;
  color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 461;
  pointer-events: none; 
  text-align: center;
}

.leaflet-gesture-handling-touch-warning:after,
.leaflet-gesture-handling-scroll-warning:after {
  -webkit-animation: leaflet-gestures-fadein 0.8s forwards;
          animation: leaflet-gestures-fadein 0.8s forwards; }

.leaflet-gesture-handling-touch-warning:after {
  content: attr(data-gesture-handling-touch-content); }

.leaflet-gesture-handling-scroll-warning:after {
  content: attr(data-gesture-handling-scroll-content); }