input,
select,
textarea,
submit,
button,
label {
    font-size: 15px;
    border: none;
    //-moz-appearance: none;
    //-webkit-appearance: none;
    //appearance: none;
    margin: 0;
    padding: 8px;
    border-radius: 3px;
}

select, button, input[type="text"], input[type="search"] {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .02);
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

form,
input,
select,
submit,
button,
label {
    max-height: 34px;
    min-height: 34px;
}

input:focus,
select:focus,
textarea:focus,
submit:focus,
button:focus,
chackbox:focus {
    outline: none;
}

button,
submit {
    cursor: pointer;
    padding: 8px 12px;
}

button {
  user-select: none;
  background-color: transparent;
  -webkit-tap-highlight-color:  transparent; 
}

* {
  @media screen and (max-width: 500px) {
    -webkit-tap-highlight-color:  transparent; 
  }
}

