.btn {
  background: #7915dd;
  color: #fff;
  border: none;
  border-radius: 4px;
  position: relative;   
  box-sizing: border-box; 
  padding: 8px 12px;
  line-height: normal;
  user-select: none;
}



