.btn {
  background: #7915dd;
  color: #fff;
  border: none;
  border-radius: 4px;
  position: relative;   
  box-sizing: border-box; 
  padding: 8px 12px;
  line-height: normal;
  user-select: none;
  transition: all .2s;
  box-shadow: 0 0 0 1px rgba(0,0,0,0);
}

.btn:hover {
  box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
  transition: all .2s;
}




