.map-object-info {
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left:0;
  font-size: 15px;
  min-height: 65px;
  z-index: 10;
}

.map-object-info__inner {
  width: calc(100% - 50px);
  display: flex;
  align-items: baseline;
}

.map-object-info__content {
  box-sizing: border-box;
  padding: 0 0 0 10px;
}

.map-object-info__description {
  color: rgba(0,0,0,.6);
  margin:0;
}

.map-object-info .icon {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  display: inline-block;
  background-image: url(../../source/assets/img/map/pins@2x.png);
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: 0 0; 
  transform: translate(1px,3px) scale(1.4);
  transform-origin: center;
}

//radiation
.map-object-info .icon.icon_eco[data-ico="1"] {
  background-position: 0 -20px; 
}
//radiation
.map-object-info .icon.icon_eco[data-ico="2"] {
  background-position: 0 -20px;
}
//power
.map-object-info .icon.icon_eco[data-ico="3"] {
  background-position: 0 -160px;
}
//energy
.map-object-info .icon.icon_eco[data-ico="4"] {
  background-position: 0 -100px; 
}
//water
.map-object-info .icon.icon_eco[data-ico="5"] {
  background-position: 0 -120px;
}
//recicle
.map-object-info .icon.icon_eco[data-ico="6"] {
  background-position: 0 0px;
}
//trash
.map-object-info .icon.icon_eco[data-ico="7"] {
  background-position: 0 -60px;
}
//factory
.map-object-info .icon.icon_eco[data-ico="8"] {
  background-position: 0 -40px;
}
//trash
.map-object-info .icon.icon_eco[data-ico="9"] {
  background-position: 0 -60px;
}
//airport
.map-object-info .icon.icon_eco[data-ico="10"] {
  background-position: 0 -80px;
}
//factory
.map-object-info .icon.icon_eco[data-ico="11"] {
  background-position: 0 -40px;
}
//black-mesa
.map-object-info .icon.icon_eco[data-ico="12"] {
  background-position: 0 -240px;
}
//army
.map-object-info .icon.icon_eco[data-ico="13"] {
  background-position: 0 -260px;
}

//railroad
.map-object-info .icon.icon_railroad {
  background-position: 0 -220px;
}

.map-object-info .close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}