.map-object-info {
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left:0;
  font-size: 15px;
  min-height: 65px;
  z-index: 10;
}

.map-object-info__inner {
  width: calc(100% - 50px);
  display: flex;
  align-items: baseline;
}

.map-object-info__content {
  box-sizing: border-box;
  padding: 0 0 0 10px;
}

.map-object-info__description {
  color: rgba(0,0,0,.6);
  margin:0;
}



.map-object-info .close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}