#header {
  
  display: flex;
  box-sizing: border-box;
  
  @media screen and (max-width: 500px) {
    
    background: #7d48dd;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.3);
  }

}

.header-mobile {
  display: none;
  background: #7d48dd;
  
  @media screen and (max-width: 500px) {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    box-sizing: border-box;  
  }
  
}

.header-mobile .btn {
  //box-shadow: inset 0 0 0 1px rgba(255,255,255,1);
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none; 
  appearance: none;     
}


.panel .header-mobile {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2000;
}

.header-mobile .btn_back {
  padding-left: 20px;        
}

.header-mobile .btn_back:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 1.2px solid #fff;
    border-left: 1.2px solid #fff;
    transform: translate(-10px, 5px) rotate(45deg);
    box-sizing: border-box;
}

