.breadcrumbs {
  margin:0;
  padding:0;
  list-style: none;
  display: block;
  font-size: 13px;
  
  @media screen and (max-width: 500px) {
    display: none;  
  }
  
}

.breadcrumbs li {
  list-style: none;
  color: rgba(0,0,0,.6);
  display: inline-block;
}

.breadcrumbs li:after {
  content: '/';
  display: inline-block;
  padding: 0 5px;
  opacity: .5;
}

.breadcrumbs a {
  text-decoration: none;
}