#detail-screen {
  transform: translate(0, 0);
}

.main_screen-2 #detail-screen {
  transform: translate(100vw, -54px);
}

.not-mobile #close-panel {
  position: absolute;
  right: 10px;
  top: 10px;
}

.mobile #close-panel {
  display: none;
}

#detail-screen h1 {
  font-size: 25px;
}

