#detail-screen {
  transform: translate(0, 0);
  background: #fafafa;
}

.main_screen-2 #detail-screen {
  transform: translate(100vw, -54px);
}

.not-mobile #close-panel {
  position: absolute;
  right: 10px;
  top: 10px;
}

.mobile #close-panel {
  display: none;
}

#detail-screen h1 {
  font-size: 25px;
}

#detail-screen main {
  color: #3D3D3D;
}

#detail-screen hr {
  margin: 10px -10px 0;
  border: .5px solid #ececec;
}

.item-with-icon {
  display: flex;
}

.item-with-icon p {
  margin: 5px 0 10px;
}