.panel {
  flex-basis: 30%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll; 
  
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background: #fff;
  
  @media screen and (max-width: 500px) {
    
    width:100vw;
    min-width: 100vw;
    flex-basis: 100%;
  }
  
}

.panel_2-col {
  flex-basis: 70%;
}

.panel__header {
  padding: 10px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0,0,0,.05), inset -1px -1px 0 rgba(0,0,0,.1);
}

.panel__header_overlay {
  padding:0;
}