.panel {
  flex-basis: 30%;
  height: 100%;
  overflow: auto;
  
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px inset;
  
  @media screen and (max-width: 500px) {
    
    width:100vw;
    min-width: 100vw;
    flex-basis: 100%;
    height: auto;
  }
  
}

.panel_map {
  background: #333 url(../../source/assets/spinner.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

.panel_2-col {
  flex-basis: 70%;
}

.panel__header {
  padding: 10px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0,0,0,.05), inset -1px -1px 0 rgba(0,0,0,.1);
  position: relative;
}

.panel__header_overlay {
  padding:0;
}

.panel_detail {
  display: block;
  position: absolute;
  left: 30%;
  width: 30%;
  z-index: 1000;
  box-sizing: border-box;
  top: inherit;
  
  
  @media screen and (max-width: 500px) {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  
}

.place-page .panel_detail {
  position: absolute;
  width: 100%;
  flex-basis: 100%;
  left: 0;
}

.panel__container {
  box-sizing: border-box;
  padding: 20px 10px;
  overflow-x: hidden;
  
  @media screen and (max-width: 500px) {
    padding: 10px;
  }
  
}

#place-map {
  height: 450px;
}

