.place-item {
  box-sizing:border-box;
  box-shadow: inset -1px -1px 0px rgba(0,0,0,0.1);
  background-color: #fff;
  padding: 10px; 
  min-height: 100px;
  cursor: pointer;
}

.place-item_active {
  background: #e5e6ef;
  transition: background .1s ease;
  box-shadow: none;
}

.place-item__title {
  display: flex;
  align-items: baseline;
}

.place-item__distance {
  margin-left: -5px;
  color: rgba(0,0,0,.6);
}

.place-item__type {
  color: rgba(0,0,0,.6);
  padding-right: 5px;
}

.place-item__name {

}

.place-item__car {
  display: flex;
}

.place-item__car:before {
  content:'';
  display: block;
  background:url(../../source/assets/img/icons/car.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;
  margin-right: 3px;
}

.place-item__train {
  display: flex;
}

.place-item__train:before {
  content:'';
  display: block;
  background:url(../../source/assets/img/icons/train.svg);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;
  margin-right: 3px;
}

.place-item__pin {
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: #fafafa;
  margin: 0 8px 0 1px;
}

.place-item__price {
  color: red;
  margin-left: 19px;
}