.place-item {
  box-sizing:border-box;
  box-shadow: inset -1px -1px 0px rgba(0,0,0,0.1);
  background-color: #333333;
  padding: 10px; 
  min-height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.place-item__content {
  
}

.not-mobile .place-item:hover {
  background-color: #464646; 
}

.place-item_active {
  background: #78797c;
  transition: background .1s ease;
  box-shadow: none;
}

.place-item__title {
  display: flex;
  align-items: baseline;
  color: #fff;
}

.place-item__title a {
  color:inherit;

}

.place-item__title a:visited {
  color: rgba(192, 192, 192, 1);
}

.place-item__distance {
  margin-left: -5px;
  color: rgba(255,255,255,.45);
  font-size:13px;
}

.place-item__type {
  color: rgba(255,255,255,.45);
  padding-right: 5px;
  font-size:13px;
}

.place-item__name {

}

.place-item__car {
  display: flex;
}

.place-item__car:before {
  content:'';
  display: block;
  background:url(../../source/assets/img/icons/sprites.svg); 
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px -151px;
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;
  margin-right: 3px;
}

.place-item__train {
  display: flex;
}

.place-item__train:before {
  content:'';
  display: block;
  background:url(../../source/assets/img/icons/sprites.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -181px;
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;
  margin-right: 3px;
}

.place-item__pin {
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: #fafafa;
  margin: 0 8px 0 1px;
}

.place-item__price {
  color: red;
  margin-left: 19px;
}