.place-select {
  position: absolute;
  z-index: 10000;
  background: #fff;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 1px 5px;
  box-sizing: border-box;
  max-height: 80vh;
  width: 200px;
  padding: 8px 0;
}

.place-select__item {
  padding: 6px 12px;
  cursor:pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  color: inherit;
  overflow: hidden;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.place-select__item:hover {
  background: #7915dd;
  color:#fff;
}

