.content {

}

.content__section {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 8px 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.content h1 {
  
}

.content h2 {
  margin: 10px 0 10px;
  font-size: 18px;
  
  @media screen and (max-width: 500px) {
    
    margin: 10px 0 0;
    font-size: 20px;
    
  }
  
}


.content__item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  
  @media screen and (max-width: 500px) {
    
    display: block;
    
  }
  
}

.content section .content__item {
  border-bottom: 1px solid #e5e5e5;
}

.content .content__item:last-child {
  border-bottom: none;
}

.content__item-title {
  
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 0 10px 0 0;
  
  @media screen and (max-width: 500px) {
    
    opacity: .8;
    font-size: 13px;
  }
  
}

.content__item-title h3 {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  padding: 0;
  
  @media screen and (max-width: 500px) {
    opacity: .8;
    font-size: 13px;
    font-weight: 500;
  }
}

.content__item-value {
  
  flex-basis: 50%;
  box-sizing: border-box;
  max-width: 50%;
  
  @media screen and (max-width: 500px) {
    
    padding-top: 10px;
    
  }
  
}

.content__item-value .value {
  word-break: keep-all;
  white-space: nowrap;
}

.content__item-value b {
  font-weight: 600;
  color: rgba(0,0,0,0.8);
}

#place-map {
  margin: 0 -10px -20px;
  
  @media screen and (max-width: 500px) {
    margin: 0 -10px -10px;  
  }
}